.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #clear, #decimal, #equals, #add, #subtract, #divide, #multiply, #zero{
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#seven:hover, #eight:hover, #nine:hover, #four:hover, #five:hover, #six:hover, #one:hover, #two:hover, #three:hover, #clear:hover, #decimal:hover, #equals:hover, #add:hover, #subtract:hover, #divide:hover, #multiply:hover, #zero:hover {
  background-color: #00ff0032;
}
#display {
  border: 1px solid white;
  width: 290px;
  height: 80px;
  padding: 5px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 30px;
}
.dp {
  height: 33px;
}
.op {
  font-size: 16px;
}
.keyboard {
  width: 300px;
  height: 350px;
  border: 1px solid white;
  display: grid;
  grid-template-areas: 'ac ac div mult'
                       'sev eig nin sub'
                       'fou fiv six add'
                       'one two thr equ'
                       'zero zero dec equ';
}

#clear {
  grid-area: ac;
  background-color: tomato;
}
#divide {
  grid-area: div;
}
#multiply {
  grid-area: mult;
}
#seven {
  grid-area: sev;
}
#eight {
  grid-area: eig;
} 
#nine {
  grid-area: nin;
} 
#four {
  grid-area: fou;
} 
#five {
  grid-area: fiv;
} 
#six {
  grid-area: six;
} 
#one {
  grid-area: one;
} 
#two {
  grid-area: two;
} 
#three {
  grid-area: thr;
} 
#decimal {
  grid-area: dec;
} 
#equals {
  grid-area: equ;
  background-color: dodgerblue;
} 
#add {
  grid-area: add;
} 
#subtract {
grid-area: sub;
} 
#zero {
  grid-area: zero;
}